<div class="inputs">

    <div class="form-group">
        <label for="orientacion">Orientacion del piso:</label>
        <select
          id="orientacion"
          class="form-control"
          name="orientacion"
          [(ngModel)]="oficinaDataDetalles['orientacion']"
          required
        >
          <option value="interior">Interior</option>
          <option value="exterior">Exterior</option>
        </select>
      </div>
    
      <!-- Campo tamaño -->
      <div class="form-group">
        <label for="tamano">Tamaño m2:</label>
        <input
          type="number"
          id="tamano"
          class="form-control"
          name="tamano"
          [(ngModel)]="oficinaDataDetalles.tamano"
          required
        />
      </div>
    
    
      <!-- Campo Número de Baños -->
      <div class="form-group">
        <label for="banos">
            Número de Baños:
        </label>
        <input 
            type="number" 
            id="banos" 
            class="form-control" 
            name="banos" 
            [(ngModel)]="oficinaDataDetalles.banos"
            (change)="onFormChange()"
            required />
      </div>

      
    
      <!-- Campo Planta -->
      <!-- <div class="form-group">
        <label for="planta">
            Número de planta:
        </label>
        <input 
            type="number" 
            id="planta" 
            class="form-control" 
            name="planta" 
            [(ngModel)]="oficinaDataDetalles.planta" 
            (change)="onFormChange()" 
            required />
      </div> -->
    
      <!-- Año de construcción -->
      <div class="form-group">
        <label for="anoConstruccion">
            Año de construcción:
        </label>
        <input 
            type="number" 
            id="anoConstruccion" 
            class="form-control" 
            name="anoConstruccion" 
            [(ngModel)]="oficinaDataDetalles.anoConstruccion" 
            (change)="onFormChange()" 
            required />
      </div>
    
      <!-- Estado del inmueble -->
      <div class="form-group">
        <label for="estadoInmueble">
            Estado del inmueble:
        </label>
        <select 
            id="estadoInmueble" 
            class="form-control" 
            name="estadoInmueble" 
            [(ngModel)]="oficinaDataDetalles.estadoInmueble" 
            (change)="onFormChange()" 
            required>
    
          <option value="nuevo">Nuevo</option>
          <option value="reformado">Reformado</option>
          <option value="buenEstado">Buen estado</option>
          <option value="malEstado">Mal estado</option>
          <option value="Construccion">En construcción</option>
          <option value="aReformar">Para reformar</option>
        </select>
      </div>
    
      <!-- Consumo -->
      <div class="form-group">
        <label for="consumo">
            Consumo:
        </label>
        <select 
            id="consumo" 
            class="form-control" 
            name="consumo" 
            [(ngModel)]="oficinaDataDetalles.consumo" 
            (change)="onFormChange()" 
            required>
          <option value="a">A</option>
          <option value="b">B</option>
          <option value="c">C</option>
          <option value="d">D</option>
          <option value="e">E</option>
        </select>
      </div>
    
      <!-- Emisiones -->
      <div class="form-group">
        <label for="emisiones">
            Emisiones:
        </label>
        <select 
            id="emisiones" 
            class="form-control" 
            name="emisiones" 
            [(ngModel)]="oficinaDataDetalles.emisiones" 
            (change)="onFormChange()" 
            required>
    
          <option value="a">A</option>
          <option value="b">B</option>
          <option value="c">C</option>
          <option value="d">D</option>
          <option value="e">E</option>
        </select>
      </div>


      <!-- Emisiones -->
      <div class="form-group">
        <label for="emisiones">
            Certificado Energético:
        </label>
        <select 
            id="certificadoEnergetico" 
            class="form-control" 
            name="emisiones" 
            [(ngModel)]="oficinaDataDetalles.certificadoEnergetico" 
            (change)="onFormChange()" 
            required>
    
          <option value="a">A</option>
          <option value="b">B</option>
          <option value="c">C</option>
          <option value="d">D</option>
          <option value="e">E</option>
        </select>
      </div>
</div>

  <!-- Características adicionales -->
  <div class="form-group caracteristicas-adicionales">
    <div class="checkbox-group" >
      
      <label 
        for="ascensor" 
        [ngClass]="{ 'active': oficinaDataDetalles.ascensor }">
        <input 
            type="checkbox" 
            id="ascensor" 
            name="ascensor" 
            [(ngModel)]="oficinaDataDetalles.ascensor" 
            (change)="onFormChange()" />
        Ascensor
      </label>

     

      <label 
        for="garaje"  
        [ngClass]="{ 'active': oficinaDataDetalles.garaje }">
        <input 
            type="checkbox" 
            id="garaje" 
            name="garaje" 
            [(ngModel)]="oficinaDataDetalles.garaje" 
            (change)="onFormChange()" />
        Garaje
      </label>

      <label 
        for="gimnasio"  
        [ngClass]="{ 'active': oficinaDataDetalles.gimnasio }">
        <input 
            type="checkbox" 
            id="gimnasio" 
            name="gimnasio" 
            [(ngModel)]="oficinaDataDetalles.gimnasio" 
            (change)="onFormChange()" />
        Gimnasio
      </label>

      <label 
        for="aire"  
        [ngClass]="{ 'active': oficinaDataDetalles.aire }">
        <input 
            type="checkbox" 
            id="aire" 
            name="aire" 
            [(ngModel)]="oficinaDataDetalles.aire" 
            (change)="onFormChange()" />
        Aire Acondicionado
      </label>

      <label 
        for="calefaccion"  
        [ngClass]="{ 'active': oficinaDataDetalles.calefaccion }">
        <input 
            type="checkbox" 
            id="calefaccion" 
            name="calefaccion" 
            [(ngModel)]="oficinaDataDetalles.calefaccion" 
            (change)="onFormChange()" />
        Calefacción
      </label>
    </div>
  </div>

  <!-- Sistema de calefacción -->
  <div  *ngIf="oficinaDataDetalles.calefaccion" class="inputs-calefaccion">

    <div class="form-group">
      <label for="sistemaCalefaccion">
        Sistema de calefacción:
      </label>
      <select 
        id="sistemaCalefaccion" 
        class="form-control" 
        name="sistemaCalefaccion" 
        [(ngModel)]="oficinaDataDetalles.sistemaCalefaccion" 
        (change)="onFormChange()"
        required>
        <option value="central">Central</option>
        <option value="independiente">Independiente</option>
      </select>
    </div>

    <!-- Combustible de calefacción -->
    <div class="form-group">
      <label for="combustibleCalefaccion">
        Combustible de calefacción:
      </label>
      <select 
        id="combustibleCalefaccion" 
        class="form-control" 
        name="combustibleCalefaccion" 
        [(ngModel)]="oficinaDataDetalles.combustibleCalefaccion" 
        (change)="onFormChange()" 
        required>
        <option value="Gasnatural">Gas natural</option>
        <option value="butano">Butano</option>
        <option value="electrico">Eléctrico</option>
      </select>
    </div>
  </div>





  