.contenedor{
    display: flex;
}

.nav{
    width: 250px;
    position: fixed;
    left: 0px;
    top: 0px;
}

.contenido{
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}






@media(max-width:700px){
    .contenedor{
        padding-left: 0px !important; 
    }
    .nav{
        display: none;
    }

}