<div class="header">
    <ul class="lista">
        <li [routerLink]="['/propiedad/todos', 'alquiler']" style="background-color: #0072c3;" class="item">
            <h2>{{totalEnAlquilerDisponibles}}</h2>
            <p>Inmuebles en alquiler</p>
        </li>
        <li [routerLink]="['/propiedad/todos', 'venta']" style="background-color: #00c365;" class="item">
            <h2>{{totalEnVentaDisponibles}}</h2>
            <p>Inmuebles en venta</p>
        </li>
        <li [routerLink]="['/propiedad/todos', 'todos-disponibles']" style="background-color: #ffae00;" class="item">
            <h2>{{totalPropiedades}}</h2>
            <p>Total inmuebles</p>
        </li>
        <li style="background-color: #ff246a;" class="item">
            <h2>0</h2>
            <p>Visitas pendientes</p>
        </li>
    </ul>
</div>


<div class="container-propiedades-recientes">
    <div *ngIf="mainLoadingActive" class="main-loading">
        <svg version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 40 60 16" enable-background="new 0 0 0 0" xml:space="preserve"><circle fill="currentColor" stroke="none" cx="6" cy="50" r="6"><animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.1"/></circle><circle fill="currentColor" stroke="none" cx="26" cy="50" r="6"><animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.2"/></circle><circle fill="currentColor" stroke="none" cx="46" cy="50" r="6"><animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.3"/></circle></svg>
    </div>
    <h3 class="titulo-p-recientes">Ultimas Publicaciones</h3>

    <swiper-container  class="cards" space-between="40" slides-per-view="3.5" pagination="true">
        <swiper-slide class="card" *ngFor="let property of propertiesData" >
            <p class="sku">{{property.sku}}</p>
            <p class="transaccion">{{property.transaccion}}</p>
            <div class="splide">
                <swiper-container [navigation]="{ nextEl: '.swiper-button-nex1t', prevEl: '.swiper-button-prev1' }" mousewheel-force-to-axis="true" class="mySwiper">
                   <swiper-slide class="splide_slide" *ngFor="let imagen of property.image">
                     
                      <img class="imagen" [src]="getImageUrl(property.sku, imagen)" alt="Imagen de la propiedad">
                   </swiper-slide>
                   <div class="swiper-button-next1"></div>
                   <div class="swiper-button-prev1"></div>
                </swiper-container>
             </div>
             <div class="info" [routerLink]="['/ver-propiedad', property.id_property]">
                <ul class="lista data-propiedad" >
                    <li class="precio">{{property.precio}}<span class="logo-euro">€</span> </li>
                    <li class="titulo">{{ property.tipo }} en {{ property?.ciudad }}, {{ property?.provincia }}, {{ property?.zona}}</li>
                    <li *ngIf="property.tipo == 'vivienda'">
                     <ul class="caracteristicas">
                         <li class="item"><img class="icon" [src]="getImageUrl2('iconos', 'cama.png')" alt=""><p>{{property.detalles.habitaciones}} Dorm.</p></li>
                         <li class="item"><img class="icon" [src]="getImageUrl2('iconos', 'tamano.png')" alt=""><p>{{property.detalles.tamano}}m²</p></li>
                         <li class="item"><img class="icon" [src]="getImageUrl2('iconos', 'bano.png')" alt=""><p>{{property.detalles.banos}} <span>Baño</span><span *ngIf="isMoreThanOneBathroom(property)">s</span></p></li>
                     </ul>
                    </li>
                </ul>
            </div>
            <div class="fecha">
                <p>Publicado el {{property.fecha_creacion}}</p>
            </div>
        </swiper-slide>
        <!-- <div class="swiper-button-next2"></div>
        <div class="swiper-button-prev2"></div> -->
    </swiper-container>

    <!-- <div class="cards">
        <div class="card" >
            <p class="sku">{{property.sku}}</p>
            <p class="transaccion">{{property.transaccion}}</p>
            <div class="splide">
               <swiper-container [navigation]="{ nextEl: '.swiper-button-next', prevEl: '.swiper-button-prev' }" mousewheel-force-to-axis="true" class="mySwiper">
                  <swiper-slide class="splide_slide" *ngFor="let imagen of property.image">
                    
                     <img class="imagen" [src]="getImageUrl(property.sku, imagen)" alt="Imagen de la propiedad">
                  </swiper-slide>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
               </swiper-container>
            </div>
            
            <div class="info" [routerLink]="['/ver-propiedad', property.id_property]">
               <ul class="lista data-propiedad" >
                   <li class="precio">{{property.precio}}<span class="logo-euro">€</span> </li>
                   <li class="titulo">{{ property.tipo }} en {{ property?.ciudad }}, {{ property?.provincia }}, {{ property?.zona}}</li>
                   <li *ngIf="property.tipo == 'vivienda'">
                    <ul class="caracteristicas">
                        <li class="item"><img class="icon" [src]="getImageUrl2('iconos', 'cama.png')" alt=""><p>{{property.detalles.habitaciones}} Dorm.</p></li>
                        <li class="item"><img class="icon" [src]="getImageUrl2('iconos', 'tamano.png')" alt=""><p>{{property.detalles.tamano}}m²</p></li>
                        <li class="item"><img class="icon" [src]="getImageUrl2('iconos', 'bano.png')" alt=""><p>{{property.detalles.banos}} <span>Baño</span><span *ngIf="isMoreThanOneBathroom(property)">s</span></p></li>
                    </ul>
                   </li>
               </ul>
           </div>
           <div class="fecha">
            <p>Publicado el {{property.fecha_creacion}}</p>
           </div>
        </div>
    </div> -->
</div>
