<div class="header">
    <ul class="lista">
        <li [routerLink]="['/propiedad/todos', 'alquiler']" style="background-color: #0072c3;" class="item">
            <h2>{{totalEnAlquilerDisponibles}}</h2>
            <p>Inmuebles en alquiler</p>
        </li>
        <li [routerLink]="['/propiedad/todos', 'venta']" style="background-color: #00c365;" class="item">
            <h2>{{totalEnVentaDisponibles}}</h2>
            <p>Inmuebles en venta</p>
        </li>
        <li [routerLink]="['/propiedad/todos', 'todos-disponibles']" style="background-color: #ffae00;" class="item">
            <h2>{{totalPropiedades}}</h2>
            <p>Total inmuebles</p>
        </li>
        <li style="background-color: #ff246a;" class="item">
            <h2>0</h2>
            <p>Visitas pendientes</p>
        </li>
    </ul>
</div>



<div class="container-propiedades-recientes">
    <!-- <h3>Publicados reientemente</h3> -->
    <div class="cards">
        <div class="card" *ngFor="let property of propertiesData"  >
            <p class="sku">SKU {{property.sku}}</p>
            <div class="splide">
               <swiper-container [navigation]="{ nextEl: '.swiper-button-next', prevEl: '.swiper-button-prev' }" mousewheel-force-to-axis="true" class="mySwiper">
                  <swiper-slide class="splide_slide" *ngFor="let imagen of property.image">
                    
                     <img class="imagen" [src]="getImageUrl(property.id_property, imagen)" alt="Imagen de la propiedad">
                  </swiper-slide>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
               </swiper-container>
            </div>
            <p class="transaccion">{{property.transaccion}}</p>
            <div class="info" [routerLink]="['/ver-propiedad', property.id_property]">
               <ul class="lista data-propiedad" >
                   <li >
                       <ul class="iconos">
                           <ng-container *ngIf="property.detalles.gimnasio">
                               <li class="item"><img src="https://i.imgur.com/UfhIAC8.png" alt="Gimnasio"></li>
                           </ng-container>
                           <ng-container *ngIf="property.detalles.garaje">
                               <li class="item"><img src="https://i.imgur.com/chs79Vc.png" alt="Garage"></li>
                           </ng-container>
                           <ng-container *ngIf="property.detalles.piscina">
                               <li class="item"><img src="https://i.imgur.com/qZEo49Y.png" alt="Piscina"></li>
                           </ng-container>
                       </ul>
                   </li>
                   <li class="titulo">{{ property.tipo }} en {{ property?.ciudad }}, {{ property?.provincia }}, {{ property?.zona}}</li>
                   <li class="precio">{{property.precio}}<span class="logo-euro">€</span> </li>
                   <li *ngIf="property.tipo == 'vivienda'">
                       <ul class="caracteristicas">
                           <li>{{property.detalles.habitaciones}} Hab</li>
                           <li>{{property.detalles.tamano}}m²</li>
                           <li>
                              Planta {{property.detalles.planta}} {{property.detalles.orientacion}}
                              <span *ngIf="property.detalles?.ascensor">con ascensor</span>
                              <span *ngIf="!property.detalles?.ascensor">sin ascensor</span>
                          </li>
                          
                       </ul>
                   </li>
               </ul>
           </div>
           <div class="footer">
            <button class="btn-ver" [routerLink]="['/ver-propiedad', property.id_property]">Ver Propiedad</button>
            <button class="btn-eliminar" (click)="delete(property.id_property)">Eliminar</button>
           </div>
           <div class="fecha">
            <p>Publicado el {{property.fecha_creacion}}</p>
           </div>
        </div>
    </div>
  
  
</div>
